html,
body {
  height: 100%;
}

body {

}


header{
    height: 80px;
    background-color: #072d5aab;
    color:#fff;
}
.logo{
    width: 90px;
    float: left;
    background-color: #fff;
}
.logo > img{
    padding: 10px
}

#navbarCollapse > ul li a{
    color:#fff;
}