@import url('./jquery.mCustomScrollbar.css');
html,
body {
    height: 100%;
}
body {
    background-image: url(../img/fondo1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
}
.dashboard-content{
    width: 100%;
    position: absolute;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: rgba(43, 57, 65, 0.514);
}
.fc-daygrid-event{
    white-space: normal !important;
}
#back_top{
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    }
#back_top:hover {
    cursor: pointer;
    background-color: #333;
  }
#back_top:active {
    background-color: #555;
  }
#back_top.show {
    opacity: 1;
    visibility: visible;
  }
header, footer{
    background-color: #093f81c2;
    color:#fff;
}
.active{
    color: orange !important;
}
.breadcrumb-ini{
    background-image: url(../img/background-top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.breadcrumb-ini h4{
    padding: 20px;
    font-weight: 900;
    font-size:2.1em !important;
}
.breadcrumb-ini .breadcrumb{
    background-color: transparent !important;
    text-align: center;
}
.active::after{
    position: absolute;
    content: '';
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 10%;
    background-color: orange;
}
.logo{
    width: 90px;
    float: left;
    background-color: #fff;
}
.logo > img{
    padding: 10px
}
.nav-principal .nav-second{
    margin-right: 0 !important;

}
.nav-principal .nav-second li a{
    color: #fff !important;
    font-weight: 600;
    padding-left: .9rem !important;
    padding-right: .9rem !important;
    transition: 0.5s;

}
.nav-principal .nav-second li a:hover{
    color: orange !important;
}
.nav-principal .nav-second li{
    position: relative;
}
.nav-principal .nav-second li:after{
    position: absolute;
    content: '';
    width: 2px;
    border-radius: 1px;
    height: 40%;
    background: #FF9800;
    top:30%;
    right: 0;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    animation-duration: 0.5s;
    transition: 0.5s;


}
.fixed{
    position: fixed;
    z-index: 500;
    top: 0;
    background-color: #FF9800;
    animation-name: stickySlideDown;
    padding: 0;
    transition: none;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
}
@keyframes stickySlideDown {
    0% {
        opacity: 0.7;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.fixed .nav-principal .nav-second li:after{
    background: #fff;
}
.fixed .nav-principal .nav-second li a{
    transition: 0.5s;
}
.fixed .nav-principal .nav-second li a:hover{
    color: #000 !important;
}
/*----------Estilo spacing general----------*/
.margin-gral1{
    margin-top:30px;
}
.margin-gral2{
    margin-bottom: 30px;
}
.wrap_padding{
    padding-top: 40px;
    padding-bottom: 40px;
}
.nav-principal .nav-second li:last-child::after{
    width: 0px;
}
/*=========Search Form========*/
.form-width{
    display: block !important;
    width: auto;
}
.Form-Search input{
    outline: 0;
    text-align: center;
    font-weight: 700;
}
.Form-Search input::placeholder{
    font-weight: 700;
    text-align: center;

}
.Form-Search button{
    background-color: #86B543;
    border-radius: 0px 4px 4px 0px;;
}
/* Contenido*/
.main-content-2 .wraped-scroll{
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
    max-height: 500px;
    /*overflow-y: scroll;*/
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
}
/*=========Carousell========*/
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 45%;
    bottom: 0;
    z-index: 1;
    width: 40px !important;
    height: 40px !important;
    font-size: 18px;
    border-radius: 100%;
    background-color: orange !important;
    color: #fff;
    text-align: center;
    opacity: .8;
    transition: opacity .15s ease;
}
.carousel-control-prev{
    left: 10px !important;
}
.carousel-control-next{
    right: 10px !important;
}
.Description{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(6, 102, 86, 0.767);
}
.Description a{
    text-transform: uppercase;
    font-size: 15px;
    color: orange;
    padding: 8px 8px 8px 0px;
    font-weight: 700;
}
.Description a strong{
    width: 20px;
    height:20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border-radius: 100%;
    color: #000;
    background-color: #86B543;
}
.Description p{
    margin-top: 0;
    padding: 0;
    color: #FFF;
    font-weight: 400;
    font-size: 13px;
    font-style: oblique;
    letter-spacing: 1px;
}/*============MAin 1==============*/
.main1 .content-main-1{
    text-align: center;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
}
.main1 .content-main-1 a{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.main1 .content-main-1 span{
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius:100%;
    font-size: 30px;
    color: #FFF;
}
.main1 .content-main-1 h2{
    font-weight: 900;
    position: relative;
    padding: 15px 0px;
    font-size: 20px;
    text-transform: uppercase;
}
.main1 .content-main-1 h2:after{
    content: '';
    width: 20%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: #000;
    left: 40%;
}
/*=========Cajas de comentarios=========*/
.Muigrig-rood{
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 50%;
}
.Muigrig-rood .js01{
    padding: 0 0 20px;
    margin-top: 20px;
    position: relative;
    list-style: none;
}
.Muigrig-rood .js01:before{
    top: 50px;
    left: 10%;
    width: 1px;
    bottom: 0;
    content: " ";
    position: absolute;
    margin-left: -1px;
    background-color: orange;
}
.Muigrig-rood .js01 .js01-a{
    position: relative;
    margin-bottom: 20px;
}
.js01-a:before, .js01-a:after{
    content: " ";
    display: table;
}
.js01-a:after{
    clear: both;
}
.Muigrig-rood .js01 .js01-a .js01-a-1{
    top: 16px;
    left: 5%;
    color: #FFF;
    width: 70px;
    height: 70px;
    z-index: 100;
    position: absolute;
    font-size: 1.4em;
    text-align: center;
    line-height: 71px;
    margin-left: -14px;
    border-radius: 50%;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(53, 52, 52, 0.4);
    background-color: orange;
}
.Muigrig-rood .js01 .js01-a .js01-a-2{
    color: rgba(0, 0, 0, 0.87);
    width: 75%;
    padding: 20px;
    position: relative;
    background: #f5f5f5;
    box-shadow: 0 4px 20px 0px rgba(2, 0, 0, 0.15), 0 7px 10px -5px rgba(2, 0, 0, 0.15);
    border-radius: 6px;
    margin-bottom: 20px;
    float: right;
}
.Muigrig-rood .js01 .js01-a .js01-a-2::before{
    left: -15px;
    right: auto;
    border-left-width: 0;
    border-right-width: 15px;
    top: 26px;
    content: " ";
    display: inline-block;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 0px solid #f5f5f5;
    border-right: 15px solid #f5f5f5;
    border-bottom: 15px solid transparent;
}
.Muigrig-rood .js01 .js01-a .js01-a-2::after{
    left: -14px;
    right: auto;
    border-left-width: 0;
    border-right-width: 14px;
    top: 27px;
    content: " ";
    display: inline-block;
    position: absolute;
    border-top: 14px solid transparent;
    border-left: 0px solid #f5f5f5;
    border-right: 14px solid #f5f5f5;
    border-bottom: 14px solid transparent;
}
.js01-a-2 .js01-a-2A{
    margin-bottom: 15px;
}
.js01-a-2 .js01-a-2A .js01-a-2Aa{
    color: #FFF;
    display: inline-block;
    padding: 5px 12px;
    font-size: 10px;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    border-radius: 12px;
    text-transform: uppercase;
    vertical-align: baseline;
    background-color: chocolate;
}
.js01-a-2 .js01-a-2A .Star-rating{
    float: right;
}
.js01-a-2 .js01-a-2A .Star-rating span{
    font-size: 13px;
}
.js01-a-2C{
    text-transform: uppercase;
    font-size: 12px;
}
.star_checked{
    color: orange;
}
/*Footer*/
.copyright-footer{
    padding: 15px;
    border-top: 1px solid #f2ab27;
    background-color: rgba(5, 5, 77, 0.644);
    margin-bottom: 0;
}
#footer .wrap-colum h5{
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;
}
#footer .wrap-colum h5:after{
    position: absolute;
    content: '';
    width: 40px;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: 0;
}
#footer .wrap-colum ul{
    list-style: none;
    font-weight: 100;
    margin: 0;
    padding:0;
}

#footer .wrap-colum ul .Fluid-Social{
    display: inline-block;
    margin-right: 10px;
    text-align: center;

}
#footer .wrap-colum ul .Fluid-Social a{
    width: 40px;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    height: 40px;
    line-height: 41px;
    display: block;
    background-color: orange;
    transition: 0.5s;
}
#footer .wrap-colum ul .Fluid-Social a:hover{
    background-color: #000;
    color: orange;
}
#footer .wrap-colum .form-footer input{
    border: 1px solid orange;
    outline: none;
}
#footer .wrap-colum .form-footer input::placeholder{
    color: #e4e0de;
    font-style: oblique;
    font-weight: 700;
}
#footer .wrap-colum .form-footer button{
    background-color: orange !important;
    border-radius:0px 4px 4px 0px;
}


/* festividades */
.fc-event-img{
    text-align: center
}

.fc-prev-button,
.fc-next-button,
.fc-today-button,
.fc-today-button:disabled,
.fc-dayGridMonth-button,
.fc-listMonth-button{
    background-color: #072d5a;
    border-color: #072d5a;
}
.fc-event-title {
    color: #072d5a;
    text-align: center;
}
.fc .fc-daygrid-day-top{
    background-color: #072d5a;
    color: #fff;
}
.fc-event-img img{
    border-radius: 5px;
    border:1px solid #072d5a ;
}
.fc-direction-ltr .fc-daygrid-week-number{
    background-color: orange !important;
}
.fc-prev-button:hover,
.fc-next-button:hover,
.fc-today-button:hover,
.fc-today-button:hover,
.fc-dayGridMonth-button:hover,
.fc-listMonth-button:hover{
    background-color: #072d5a;
    border-color: #072d5a;
}


.fc-prev-button:active,
.fc-next-button:active,
.fc-today-button:active,
.fc-today-button:active,
.fc-dayGridMonth-button:active,
.fc-listMonth-button:active{
    background-color: #0d488e!important;
    border-color: #0d488e!important;
}
.fc-toolbar-chunk>.btn-group .active,
.fc-prev-button:focus,
.fc-next-button:focus,
.fc-today-button:focus,
.fc-today-button:focus,
.fc-dayGridMonth-button:focus,
.fc-listMonth-button:focus{
    background-color: #0d488e!important;
    border-color: #0d488e!important;
}
/* endfestividades */

/* tuexperiencia */
#text h3
{
    text-align: center;
}
#text h4
{
    text-align: center;
}
#text-h h4{
    text-align: center;
    
}
.coment input{
    height: 200px;
    border-radius: 5px;
}
#enviar{
    margin-top: 10px;
}
#env{
    margin-top: 10px;
}
.sug input{
    height: 90px;
    border-radius: 5px;
}
#contenido-exp{
    padding-top: 90px;
}
#text
{
    margin-top: 0px;
}
/* endtuexperiencia */

/* cerca de ti */
#map{
    position: static!important;
}
.custom-map-control-button {
    appearance: button;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 10px;
    padding: 0 0.5em;
    height: 40px;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    top:20px !important;
}
.custom-map-control-button:hover {
    background: #ebebeb;
}


#description {
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* end cerca de ti*/
/* Index*/
.imgreco{
    margin-bottom: 10px;
}
/* end Index*/